.user-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.user-contents:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}
.user-component__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-component__column i:last-child {
  margin-left: 14px;
}

.user-component__img {
  width: 70px;
  height: 70px;
  border-radius: 25%;  
}

.user-component__img__xl {
  width: 80px;
  height: 80px;
}

.user-component__img__sm {
  width: 60px;
  height: 60px;
}

.user-component__state {
  margin-left: 20px;
}

.user-component__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;    
}

.user-component__sub {
  color: var(--grey);
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
} 

.user-contents i {
  color: rgba(0,0,0,0.8);
  transition: all 0.2s ease-in-out;
}

.user-contents i:hover {
  transform: scale(1.3);
}